name: Build and Push Docker Images

on:
  push:
    branches: [ "main" ]

jobs:
  build-push:
    runs-on: ubuntu-latest

    permissions:
      packages: write
      contents: read

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build WordPress image
        run: |
          docker build -t ghcr.io/${{ github.repository_owner }}/wordpress:latest wordpress/

      - name: Push WordPress image
        run: |
          docker push ghcr.io/${{ github.repository_owner }}/wordpress:latest
